{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'headerDetalhe.html' %}

<body>
    {% include 'menu.html' %}

    {% if user.is_authenticated %}
    <div class="imagem-centro">
        <div class="imagem-quadro-externo">
            <h2>{{detalhes.titulo}}</h2>
            <div class="imagem-quadro">
                <div>
                    <div class="imagem-hotel-grande"
                        style="background: url({{detalhes.imagem_1.url}}); background-size: cover;"></div>
                </div>

                <div class="imagem-vertical-esquerda">
                    <div class="imagem-hotel-esquerda"
                        style="background: url({{detalhes.imagem_2.url}}); background-size: cover;"></div>
                    <div class="imagem-hotel-esquerda"
                        style="background: url({{detalhes.imagem_3.url}}); background-size: cover;"></div>

                </div>
                <div class="imagem-vertical-direita">
                    <div class="imagem-hotel-direita"
                        style="background: url({{detalhes.imagem_4.url}}); background-size: cover;"></div>
                    <div class="imagem-hotel-direita"
                        style="background: url({{detalhes.imagem_5.url}}); background-size: cover;"></div>
                </div>
            </div>



            <div class="hospedador">
                <div class="hospedador-sobre">
                    <h3><b>Hospedador@ {{detalhes_hosped.nome}}</b></h3>
                    <p>{{detalhes_hosped.sobre}}</p>
                    <p><i class="fa fa-envelope-o" style="font-size:24px" style="display:flex;"></i> {{detalhes_hosped.email}}</p>
                </div>

                <div class="hospedador-foto"
                    style="background: url({{detalhes_hosped.imagem.url}}); background-size: cover;">
                </div>
            </div>

            <div class="preco-hotel-centro">
                <div class="preco-hotel">
                    <h2>R$ {{detalhes.preco}}/{{detalhes.preco_por}}</h2>
                    <p>Taxa de Limpeza: R$ {{detalhes.taxa_limpeza}}</p>
                    <p>Taxa de Serviço: R$ 50</p>
                    <button class="botao-reserva">Reservar</button>
                </div>

                <div><!--pegar do banco-->
                    {% comment %} {% for recurso in detalhes_recursos %} {% endcomment %}
                        <h4>{{detalhes_recursos.nome_recurso}}</h4>
                        <ul>
                            <li>{{detalhes_recursos.lista_recurso.titulo_recurso}}</li><!--pegar do banco-->
                        </ul>
                    {% comment %} {% endfor %} {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% include 'footer.html' %}

</body>

</html>