{% load static %}

{% include 'headerFooter.html' %}
<footer>
    <div class="elementos-contato">
        <h3 id="contato-link">Contato</h3>
        <ul class="contato-footer">
            <li><i class="fa fa-envelope" style="font-size:24px"></i> hotel@suporte.des</li>
            <li><i class="fa fa-phone" style="font-size:24px"></i></i> 0800 - 0080</li>
            <li><i class="fa fa-instagram" style="font-size:24px"></i>@deshotel</li>
        </ul>
    </div>
    <p class="direitos-reservados">© Todos os direitos reservados ao grupo de
        desenvolvedores *des</p>

</footer>