* {
    font-family: 'Poppins', sans-serif;
}

.imagem-centro {
    display: flex;
    justify-content: center;
}

.imagem-quadro-externo {
    width: max-content;
    border-bottom: 2px solid rgb(215 215 215);
}

.imagem-quadro {
    display: flex;
    height: 570px;
}

.imagem-hotel-grande {
    width: 500px;
    height: 570px;
    border-radius: 1rem 0rem 0rem 1rem;
    margin-right: 0.5rem;
}

.imagem-hotel-esquerda {
    width: 280px;
    height: 280px;
}

.imagem-vertical-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem-hotel-direita {
    width: 280px;
    height: 280px;
    border-radius: 0rem 1rem 1rem 0rem;
}

.imagem-vertical-direita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5rem;
}

/**/

.preco-hotel-centro {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 2rem;
}

.hospedador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(215 215 215)
}

.hospedador-sobre {
    width: 40%;
}

.hospedador-foto {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.preco-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    width: max-content;
    padding: 2rem;
}

.botao-reserva {
    background-color: rgb(0 208 255);
    border: none;
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 2rem;
}
.botao-reserva:hover{
    background-color: rgb(155, 231, 248);
    transition: 1s ease-in-out;
    cursor:pointer;
}