* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.div-imagem-hotel {
    width: 280px;
    height: 280px;
    border-radius: 1rem;
}
.div-imagem-hotel:hover{
    opacity:0.9;
    transition: 1s;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.grid-item:hover{
    background-color: rgb(226, 226, 226);
    transition: 1s;
    border-radius: 2rem;
}

.info-lista {
    padding: 1rem;
    list-style: none;
    color: black;
}