* {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10rem;
}

a {
    text-decoration: none;
}

.nav-titulo {
    font-size: 30px;
    font-weight: 800;
    color: rgb(0 208 255);
}
.nav-titulo:hover{
    color:rgb(29, 182, 216);
    transition: 1s ease-in;
}

.nav-lista {
    display: flex;
    list-style: none;
    align-items: center;
}

#nav-texto {
    font-size: 20px;
    color: rgb(133, 133, 133);
    letter-spacing: 2px;
    margin-left: 2rem;
}
#nav-texto:hover{
    color: rgb(177, 177, 177);
    transition: 1s;
}